<ion-content>
  <div class="main-content">
    <ion-item>
      <ion-input #filter class="filter" (ionInput)="updateDisplayedList($event)" [(ngModel)]="filterContent" label="Name Filter"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>Name
          <ion-icon (click)="sortDisplayedList(0)" color="primary" name="arrow-up-outline"></ion-icon>
        </ion-col>
        <ion-col>Number</ion-col>
        <ion-col>Date Created
          <ion-icon (click)="sortDisplayedList(1)" color="primary" name="arrow-up-outline"></ion-icon>
        </ion-col>
        <ion-col>Option</ion-col>
      </ion-row>
      <app-contact-line *ngFor="let contact of displayedList" [contact]="contact" (deleteEmitter)="onDeleteContact($event)"></app-contact-line>
      <ion-row>
        <ion-button (click)="addLine()">
          <ion-label>Add</ion-label>
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
