<ion-content>
  <div class="main-content">
    <ion-button (click)="openFilePicker()" shape="round">Load Image</ion-button>
    <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*" style="display: none;">
    <div *ngIf="imageSrc">
      <ion-img [src]="imageSrc"></ion-img>
    </div>
    <ion-item *ngIf="imageSrc">
      <ion-input
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter your expected modification in text"
        (ionInput)="onInput($event)"
      >
      </ion-input>
    </ion-item>
  </div>
</ion-content>
