<div class="chat-container">
  <ion-item color="medium">
    <ion-icon name="aperture-outline"></ion-icon>
    <ion-label>{{text}}</ion-label>
  </ion-item>
  <ion-item #loading *ngIf="loadingBehaviorSubj | async">
    <ion-spinner></ion-spinner>
  </ion-item>
  <ion-card *ngIf="isCodeDisplayed" color="dark">
    <ion-card-content>
      <ion-item lines="none">
        <ion-text>javascript</ion-text>
        <ion-icon color="primary" name="information-circle" slot="end"></ion-icon>
      </ion-item>
      <code class="code-content">
        <span class="hljs-string">``</span>
        <span class="hljs-string">`javascript const bubbleSort = arr =&gt; arr.sort((a, b) =&gt; a - b);
          </span>
      </code>
    </ion-card-content>
  </ion-card>
</div>
